{% extends 'base.html' %}
{% block body %}
{% load static %}

{{ block.super }}

<style>
.image-container-popular-blog {
  width: 50px;
  height: 50px;
  margin-left: 9px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container-popular-blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container-comment-photo {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container-comment-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

</style>

	<!-- section main content -->
	<section class="main-content mt-3">
		<div class="container-xl">

			<div class="row gy-4">

				<div class="col-lg-8">
					<!-- post single -->
                    <div class="post post-single">
						<!-- post header -->
						<div class="post-header">
							<h1 class="title mt-0 mb-3">{{ blog.title }}</h1>
							<ul class="meta list-inline mb-0">
								<li class="list-inline-item">{{ blog.user_admin }}</li>
								<li class="list-inline-item">{{ blog.category }}</li>
								<li class="list-inline-item">{{ blog.created_at }}</li>
							</ul>
						</div>
						<!-- featured image -->
						<div class="featured-image">
							<img src="{{ blog.blogimage_set.first.image.url }}" alt="post-title" />
						</div>
						<!-- post content -->
						<div class="post-content clearfix">
							<h4>{{blog.subject|safe}}</h4>

							<p> {{blog.text|safe}} </p>
							
							</div>
						<!-- post bottom section -->
						<div class="post-bottom">
							<div class="row d-flex align-items-center">
								<div class="col-md-6 col-12 text-center text-md-start">
									<!-- tags -->
									{% for tag in blog.tags.all %}
										<a href="/?tag={{tag.id}}" class="tag">#{{tag}}</a>
									{% endfor %}
								</div>
								<div class="col-md-6 col-12">
									<!-- social icons -->
									<ul class="social-icons list-unstyled list-inline mb-0 float-md-end">
										<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
									</ul>
								</div>
							</div>
						</div>

                    </div>

					<div class="spacer" data-height="50"></div>

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Comments ({% if blog.comment_set.first.comment_count %} {{ blog.comment_set.first.comment_count }} {% else %}0{% endif %})</h3>
						<img src="{% static 'assets/images/wave.svg' %}" class="wave" alt="wave" />
					</div>
					<!-- post comments -->
					<div class="comments bordered padding-30 rounded">

						<ul class="comments">
							<!-- comment item -->

							{% for comment in comments %}

								<li id="comment-container-{{comment.id}}" class="comment rounded">

									{% if comment.user == request.user %}

									<div style="float: right">
										<div class="dropdown">
										  <button class="btn " type="button" id="dropdownMenuButton-{{comment.id}}" data-bs-toggle="dropdown" aria-expanded="false">
											<i style="color: gray" class="bi bi-three-dots-vertical"></i>
										  </button>
										  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{comment.id}}">
											<li><a class="dropdown-item" onclick="deleteComment({{comment.id}})">Delete comment</a></li>
										  </ul>
										</div>
									</div>

									{% endif %}

									<div class="thumb image-container-comment-photo">
										{% if comment.user.profile_photo %}
											<img src="{{ comment.user.profile_photo.url }}" alt="John Doe" />
										{% endif %}
									</div>
									<div class="details">
										<h4 class="name"><a href="#">{{ comment.user.username }}</a></h4>
										<span class="date">{{ comment.created_at }}</span>
										<p>{{ comment.message }}</p>
										{% if comment.children.all|length %}
											<button type="button" style="background: #ed7a6b" id="replies-comment-{{comment.id}}" onclick="replies({{comment.id}})" class="btn btn-default btn-sm"><i class="bi bi-arrow-down"></i> {{ comment.children.all|length }} Replies </button>
										{% endif %}
										{% if request.user.is_authenticated %}
											<button type="button" id="reply-comment-{{comment.id}}" onclick="reply({{comment.id}});" class="btn btn-default btn-sm">Reply</button>
										{% endif %}
										<div style="display: none;" id="reply-container-{{comment.id}}">
											<hr>

											<form method="post">
												{% csrf_token %}

												<div class="row">
													<div class="column col-md-12">
														<!-- Comment textarea -->
														<div class="form-group">
															<input type="hidden" name="reply-comment-id" value="{{ comment.id }}">
															<textarea name="reply-comment" class="form-control" rows="4" placeholder="Your reply comment here..." required="required"></textarea>
														</div>
													</div>
												</div>

												<button type="button" id="cancel-reply" onclick="cancelReply({{comment.id}})" name="reply-comment" class="btn btn-danger btn-sm">Cancel</button>
												<button type="submit" class="btn btn-default btn-sm">Submit</button>

											</form>

										</div>
									</div>

								</li>

							<!-- comment reply -->

							<div id="replies-{{comment.id}}" style="display: none">

								{% for reply_comment in comment.children.all %}

									<!-- comment item -->
									<li id="comment-container-{{reply_comment.id}}" class="comment child rounded">

										{% if reply_comment.user == request.user %}

										<div style="float: right">
											<div class="dropdown">
											  <button class="btn" type="button" id="dropdownMenuButton-{{reply_comment.id}}" data-bs-toggle="dropdown" aria-expanded="false">
												<i style="color: gray" class="bi bi-three-dots-vertical"></i>
											  </button>
											  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{reply_comment.id}}">
												<li><a class="dropdown-item" onclick="deleteComment({{reply_comment.id}})">Delete comment</a></li>
											  </ul>
											</div>
										</div>

										{% endif %}

										<div class="thumb image-container-comment-photo">
											{% if reply_comment.user.profile_photo %}
												<img src="{{ reply_comment.user.profile_photo.url }}" alt="John Doe" />
											{% endif %}
										</div>
										<div class="details">
											<h4 class="name"><a href="#">{{ reply_comment.user.username }}</a></h4>
											<span class="date">{{ reply_comment.created_at }}</span>
											<p>{{ reply_comment.message }}</p>

										</div>
									</li>

								{% endfor %}

								</div>

							{% endfor %}

						</ul>
					</div>

					<div class="spacer" data-height="50"></div>

					{% if request.user.is_authenticated %}

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Leave Comment</h3>
						<img src="{% static 'assets/images/wave.svg' %}" class="wave" alt="wave" />
					</div>
					<!-- comment form -->
					<div class="comment-form rounded bordered padding-30">

						<form id="comment-form" class="comment-form" method="post">
							{% csrf_token %}
				
							<div class="messages"></div>
							
							<div class="row">

								<div class="column col-md-12">
									<!-- Comment textarea -->
									<div class="form-group">
										<textarea name="comment" class="form-control" rows="4" placeholder="Your comment here..." required="required"></textarea>
									</div>
								</div>
						
							</div>
	
							<button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default">Submit</button>
	
						</form>
					</div>

					{% endif %}

                </div>

				<div class="col-lg-4">

					<!-- sidebar -->
					<div class="sidebar">
						<!-- widget about -->
						<div class="widget rounded">
							<div class="widget-about data-bg-image text-center" data-bg-image="{% static 'assets/images/map-bg.png' %}">
								<img width="80" src="{% static 'assets/images/logo.png' %}" alt="logo" class="mb-4" />
								<p class="mb-4">Hello, We’re content writer who is fascinated by content fashion, celebrity and lifestyle. We helps clients bring the right content to the right people.</p>
								<ul class="social-icons list-unstyled list-inline mb-0">
									<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>

						<!-- widget popular posts -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Popular Posts</h3>
								<img src="{% static 'assets/images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<!-- post -->

								{% for popular_blog in blog.popular_blogs %}

									<div class="post post-list-sm circle">
										<div class="thumb circle">
											<a href="{% url 'blog:post' popular_blog.id %}">
												<div class="image-container-popular-blog ">
													<img src="{{ popular_blog.blogimage_set.first.image.url }}" alt="post-title" />
												</div>
											</a>
										</div>
										<div class="details clearfix">
											<h6 class="post-title my-0"><a href="{% url 'blog:post' popular_blog.id %}">{{ popular_blog.title }}</a></h6>
											<ul class="meta list-inline mt-1 mb-0">
												<li class="list-inline-item">{{ popular_blog.created_at|date:"d M, Y" }}</li>
											</ul>
										</div>
									</div>

								{% endfor %}

							</div>
						</div>

						<!-- widget categories -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Explore Topics</h3>
								<img src="{% static 'assets/images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<ul class="list">
									{% for category in categories %}
										{% if category.blog_count != 0 %}

											<li><a href="/?category={{ category.id }}">{{ category.name }}</a><span>({{category.blog_count}})</span></li>

										{% endif %}
									{% endfor %}
								</ul>
							</div>
							
						</div>

					</div>

				</div>

			</div>

		</div>
	</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

	function reply(id) {
		$('#reply-container-' + id).show();
		$('#reply-comment-' + id).hide();
	};

	function cancelReply(id) {
		$('#reply-container-' + id).hide();
		$('#reply-comment-' + id).show();
	};

	function replies(id) {
		var icon = $('#replies-comment-' + id).find('i');
      	icon.toggleClass('bi-arrow-down bi-arrow-up');

      	$('#replies-' + id).slideToggle("fast");
	};

	function deleteComment(id) {
		const deleteCommentUrl = "{% url 'blog:delete-comment' %}"

		$.ajax({
			type: "POST",
			url: deleteCommentUrl,
			data: {
				csrfmiddlewaretoken: '{{ csrf_token }}',
				action: 'post',
				commentID: id,
			},

			success: function (data){
				if (data.success) {
					location.reload()
				}
			},

			error: function (xhr, errmsg, err) {},

		});
	}
</script>


{% endblock %}